/*---
| CONNECT
---*/
.twitter-bar {
  padding: 20px 0;
  background-color: #fbfbf9;
  position: relative;
  z-index: 40;
  -webkit-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.09999999999999998);
  -moz-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.09999999999999998);
  box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.09999999999999998);

}
.twitter-bar .icon {
  font-size: 16px;
  line-height: 32px;
  background-color: #00acee;
  color: #ffffff;
  float: left;
  width: 32px;
  text-align: center;
  margin-right: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.twitter-bar #tweets {
  float: left;
}
@media (max-width: 767px) {
  .twitter-bar #tweets {
    max-width: 390px;
  }
}
@media (max-width: 480px) {
  .twitter-bar #tweets {
    max-width: 250px;
  }
}
.tweet_list {
  list-style: none;
  margin: 0;
}
.tweet_list .tweet {
  color: #868988;
  font-size: 12px;
  line-height: 18px;
  */
}
.tweet_list .tweet:before {
  content: '';
  display: block;
}
.tweet_list .tweet:after {
  content: '';
  display: table;
  clear: both;
}
.tweet_list .tweet .avatar {
  height: 32px;
  width: 32px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
.tweet_list .tweet .avatar img {
  display: block;
  height: 32px;
  width: 32px;
}
.tweet_list .tweet .text {
  margin: 7px 0;
  float: left;
}
@media (max-width: 767px) {
  .tweet_list .tweet .text {
    max-width: 340px;
  }
}
@media (max-width: 480px) {
  .tweet_list .tweet .text {
    max-width: 200px;
  }
}
.tweet_list .tweet .tweet_time {
  margin-left: 5px;
  font-size: 10px;
  font-style: italic;
}
.tweet_list .tweet a {
  color: inherit;
  text-decoration: none;
}
.tweet_list .tweet a:hover {
  color: #2ecc71;
}
/*---
| FOOTER
---*/
.footer {
  position: relative;
  z-index: 50;
  background-color: #ffffff;
  padding: 40px 0;
  font-size: 13px;
  color: #797d7b;
  -webkit-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996);

}
.footer h6 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
  color: #474948;
}
.footer .links {
  margin: 0;
}
@media (max-width: 767px) {
  .footer .links {
    margin-bottom: 40px;
  }
}
.footer .links li {
  list-style: none;
}
.footer .links a {
  color: #797d7b;
  text-decoration: none;
}
.footer .links a:hover,
.footer .links a:focus {
  color: #2ecc71;
}
.footer .confidence img {
  display: block;
  margin: 20px 0;
}
.footer .twitter {
  font-size: 12px;
  line-height: 18px;
}
.footer .twitter .tweet_list {
  margin: 0;
}
.footer .twitter .tweet_list li {
  list-style: none;
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
  margin-top: 20px;
  */
}
.footer .twitter .tweet_list li:before {
  content: '';
  display: block;
}
.footer .twitter .tweet_list li:after {
  content: '';
  display: table;
  clear: both;
}
.footer .twitter .tweet_list li .avatar {
  float: left;
  width: 10%;
  margin-right: 5%;
}
.footer .twitter .tweet_list li .text {
  width: 85%;
  float: left;
}
.footer .twitter .tweet_list li .text a {
  text-decoration: none;
}
.footer .twitter .tweet_list li .text .tweet_text,
.footer .twitter .tweet_list li .text .tweet_time {
  display: block;
}
.footer .twitter .tweet_list li .text .tweet_time {
  margin-top: 10px;
  font-size: 11px;
  font-style: italic;
}
.footer .twitter .tweet_list li .text .tweet_time a {
  color: #adafae;
  text-decoration: none;
}
.footer .twitter .tweet_list li .text .tweet_time a:hover,
.footer .twitter .tweet_list li .text .tweet_time a:focus {
  color: #2ecc71;
}
.footer .twitter .tweet_list li.tweet_first {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.footer .newsletter form {
  margin-bottom: 20px;
}
.footer .newsletter .input-append {
  margin-bottom: 0;
}
.footer .newsletter p {
  font-size: 12px;
  line-height: 18px;
  color: #939694;
  font-style: italic;
}
.main-menu .social,
.footer .social {
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
}
.main-menu .social ul,
.footer .social ul {
  margin-left: -6px;
  margin-bottom: -6px;
  */
}
.main-menu .social ul:before,
.footer .social ul:before {
  content: '';
  display: block;
}
.main-menu .social ul:after,
.footer .social ul:after {
  content: '';
  display: table;
  clear: both;
}
.main-menu .social li,
.footer .social li {
  list-style: none;
  padding: 0;
  margin: 0px;
  margin-left: 6px;
  margin-bottom: 6px;
  float: left;
  display: block;
}
.main-menu .social a,
.footer .social a {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background-image: url('../../img/social.png') !important;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.main-menu .social a:hover,
.footer .social a:hover,
.main-menu .social a:focus,
.footer .social a:focus {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.main-menu .social a.twitter,
.footer .social a.twitter {
  background-position: 0 0 !important;
}
.main-menu .social a.facebook,
.footer .social a.facebook {
  background-position: -24px 0 !important;
}
.main-menu .social a.pinterest,
.footer .social a.pinterest {
  background-position: -48px 0 !important;
}
.main-menu .social a.youtube,
.footer .social a.youtube {
  background-position: -72px 0 !important;
}
.main-menu .social a.vimeo,
.footer .social a.vimeo {
  background-position: -96px 0 !important;
}
.main-menu .social a.flickr,
.footer .social a.flickr {
  background-position: -120px 0 !important;
}
.main-menu .social a.googleplus,
.footer .social a.googleplus {
  background-position: -144px 0 !important;
}
.main-menu .social a.dribbble,
.footer .social a.dribbble {
  background-position: -168px 0 !important;
}
.main-menu .social a.forrst,
.footer .social a.forrst {
  background-position: -192px 0 !important;
}
.main-menu .social a.tumblr,
.footer .social a.tumblr {
  background-position: -216px 0 !important;
}
.main-menu .social a.digg,
.footer .social a.digg {
  background-position: -240px 0 !important;
}
.main-menu .social a.linkedin,
.footer .social a.linkedin {
  background-position: -264px 0 !important;
}
.main-menu .social a.instagram,
.footer .social a.instagram {
  background-position: -288px 0 !important;
}
.main-menu .social li:first-child {
  margin-left: 0px;
}
/*---
| CREDITS
---*/
.credits {
  background-color: #474948;
  padding: 10px 0;
  color: #939694;
  font-size: 12px;
  line-height: 18px;
}
.credits p {
  margin-bottom: 0;
}
.credits a {
  color: #adafae;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.credits a:hover {
  color: #c7c8c8;
}
/*---
| CATEGORY
---*/
.category .sidebar .children {
  font-size: 12px;
}
.category .sidebar .children .title a {
  color: #474948;
  text-decoration: none;
}
.category .sidebar .children .title a:hover {
  color: #2ecc71;
}
.category .sidebar .category-list {
  margin: 0 0 -20px;
}
.category .sidebar .category-list li {
  list-style: none;
}
.category .sidebar .category-list li > .category-list .padding {
  padding-left: 40px;
}
.category .sidebar .category-list li.current a {
  font-weight: 700;
  color: #474948;
}
.category .sidebar .category-list li.current a:hover {
  color: #ffffff;
}
.category .sidebar .category-list a {
  margin: 0 -20px;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  border-bottom: 1px solid #f0f0f0;
  color: #797d7b;
  text-decoration: none;
}
.category .sidebar .category-list a:hover,
.category .sidebar .category-list a:focus {
  background-color: #2ecc71;
  color: #ffffff;
}
.category .sidebar .category-list a:hover .count,
.category .sidebar .category-list a:focus .count {
  background-color: #ffffff;
  color: #2ecc71;
  text-shadow: none;
}
.category .sidebar .category-list .count {
  float: right;
  background-color: #d7d7d7;
  font-weight: 600;
  color: #ffffff;
  display: inline-block;
  width: 20px;
  font-size: 11px;
  height: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
.category .sidebar .price-filter .ui-slider {
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
  height: 10px;
  position: relative;
  margin-bottom: 20px;
  -webkit-border-radius: 9999px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 9999px;
  -moz-background-clip: padding;
  border-radius: 9999px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

}
.category .sidebar .price-filter .ui-slider .ui-slider-range {
  height: 100%;
  position: absolute;
  top: -1px;
  z-index: 10;
  background-color: #2ecc71;
  border-top: 1px solid #25a25a;
  border-bottom: 1px solid #25a25a;
  -webkit-border-radius: 9999px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 9999px;
  -moz-background-clip: padding;
  border-radius: 9999px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

}
.category .sidebar .price-filter .ui-slider .ui-slider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -2px;
  background: url('../../img/ui-slider-handle.png') no-repeat;
  z-index: 20;
}
.category .sidebar .price-filter .ui-slider .ui-slider-handle:focus {
  outline: 0 none;
}
.category .sidebar .price-filter #slider {
  margin-top: 20px;
}
.category .sidebar .price-filter #slider-label {
  font-size: 12px;
  color: #939694;
}
.category .sidebar .price-filter #slider-label strong {
  color: #2ecc71;
}
.category .sidebar .best-selling .hgroup.title {
  margin-bottom: 20px;
}
/*---
| PRODUCT LIST
---*/
#load_more [class^="icon-"] {
  display: none;
}
#load_more .icon-spin {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
#load_more.loading {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#load_more.loading [class^="icon-"] {
  display: inline-block;
}
.product-list {
  margin-left: -30px;
  overflow: visible !important;
  */
}
.product-list:before {
  content: '';
  display: block;
}
.product-list:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 768px) and (max-width: 979px) {
  .product-list {
    margin-left: -20px;
  }
}
@media (max-width: 767px) {
  .product-list {
    margin-left: -20px;
  }
}
@media (max-width: 480px) {
  .product-list {
    margin-left: 0;
  }
}
.product-list li {
  list-style: none;
  width: 270px;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .product-list li {
    width: 213px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .product-list li {
    width: 166px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .product-list li {
    width: 210px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .product-list li {
    width: 300px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.product-list li.featured {
  width: 570px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .product-list li.featured {
    width: 456px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .product-list li.featured {
    width: 352px;
  }
}
@media (max-width: 767px) {
  .product-list li.featured {
    width: 440px;
  }
}
@media (max-width: 480px) {
  .product-list li.featured {
    width: 300px;
  }
}
.product-list a {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  z-index: 20;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

}
.product-list a:hover {
  -webkit-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
  box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);

}
.product-list a:hover .image .secondary {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.product-list a:hover .title .rating {
  color: #2ecc71;
}
.product-list a .image {
  position: relative;
  background: #ffffff url('../../img/preloader.gif') no-repeat center center;
}
.product-list a .image img {
  display: block;
  width: 100%;
}
.product-list a .image .secondary {
  position: absolute;
  top: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.product-list a .image .badge-sale {
  position: absolute;
  right: -10px;
  top: 40px;
  background-color: #2ecc71;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 8px;
  text-transform: uppercase;
  -webkit-border-radius: 2px 2px 0 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 2px 0 2px;
  -moz-background-clip: padding;
  border-radius: 2px 2px 0 2px;
  background-clip: padding-box;
}
.product-list a .image .badge-sale:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: #1b7943 transparent transparent transparent;
  position: absolute;
  right: 0;
  bottom: -20px;
  z-index: -10;
}
.product-list a .title {
  padding: 20px;
  position: relative;
  background-color: #ffffff;
}
.product-list a .title:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  left: 20px;
  top: -8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product-list a .title .prices {
  text-align: right;
  float: right;
  margin-left: 20px;
  line-height: 20px;
  height: 20px;
}
.product-list a .title .prices .price {
  color: #2ecc71;
  font-weight: 600;
  font-size: 14px;
}
.product-list a .title .prices .base {
  color: #c7c8c8;
  font-weight: 400;
  font-size: 11px;
}
.product-list a .title h3 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.product-list a .title .rating {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #c7c8c8;
}
/*---
| PRODUCT LIST SMALL
---*/
.product-list-small {
  list-style: none;
  margin: -20px;
}
.product-list-small li {
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 20px;
  */
}
.product-list-small li:before {
  content: '';
  display: block;
}
.product-list-small li:after {
  content: '';
  display: table;
  clear: both;
}
.product-list-small .image {
  display: block;
  float: left;
  margin-right: 20px;
  width: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product-list-small .image a {
  display: block;
  border: 4px solid #f0f0f0;
  position: relative;
}
.product-list-small .image a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474948;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.product-list-small .image a:hover {
  border-color: #2ecc71;
}
.product-list-small .image a:hover:before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.product-list-small .image img {
  display: block;
}
.product-list-small .desc {
  float: left;
}
.product-list-small .desc h6 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.product-list-small .desc h6 a {
  color: #474948;
  text-decoration: none;
}
.product-list-small .desc h6 a:hover {
  color: #2ecc71;
}
.product-list-small .desc .price {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #868988;
  margin-bottom: 10px;
}
.product-list-small .desc .price .label {
  margin-left: 5px;
}
.product-list-small .desc .rating {
  font-size: 12px;
  line-height: 15px;
  color: #868988;
  position: relative;
  bottom: -10px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-list-small .desc .rating a {
  color: #c7c8c8;
  font-size: 10px;
  text-decoration: none;
}
.product-list-small .desc .rating a:hover {
  color: #2ecc71;
}
.product-list-small li:hover .desc .rating {
  color: #2ecc71;
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/*--
| RATINGS SMALL
---*/
.ratings-small {
  list-style: none;
  margin: -20px;
}
.ratings-small li {
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 20px;
  */
}
.ratings-small li:before {
  content: '';
  display: block;
}
.ratings-small li:after {
  content: '';
  display: table;
  clear: both;
}
.ratings-small .image {
  display: block;
  float: left;
  margin-right: 20px;
  width: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ratings-small .image img {
  border: 4px solid #f0f0f0;
  display: block;
}
.ratings-small .desc {
  float: left;
}
.ratings-small .desc h6 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.ratings-small .desc small {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #868988;
  margin-bottom: 10px;
}
.ratings-small .desc .rating {
  font-size: 12px;
  line-height: 15px;
  color: #868988;
  position: relative;
  bottom: -10px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ratings-small li:hover .desc .rating {
  color: #2ecc71;
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/*---
| FLEXSLIDER
---*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flexslider {
  margin: -40px 0 80px;
  position: relative;
  z-index: 10;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);

}
.flexslider .slides li {
  list-style: none;
}
.flexslider .flex-control-nav {
  margin: 0;
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.flexslider .flex-control-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
.flexslider .flex-control-nav a {
  text-decoration: none;
  display: block;
  width: 12px;
  height: 12px;
  background-color: transparent;
  text-indent: -9999px;
  border: 2px solid #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.5);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 9999px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 9999px;
  -moz-background-clip: padding;
  border-radius: 9999px;
  background-clip: padding-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
}
.flexslider .flex-control-nav a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.flexslider .flex-control-nav a.flex-active {
  background-color: #ffffff;
}
.flexslider .flex-direction-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: -50px 0 0;
  */
}
.flexslider .flex-direction-nav:before {
  content: '';
  display: block;
}
.flexslider .flex-direction-nav:after {
  content: '';
  display: table;
  clear: both;
}
.flexslider .flex-direction-nav li {
  display: block;
  list-style: none;
  float: right;
  padding-right: 20px;
}
.flexslider .flex-direction-nav li a {
  background: url('../../img/rarr.png') no-repeat center center;
  text-decoration: none;
}
.flexslider .flex-direction-nav li:first-child {
  float: left;
  padding-right: 0;
  padding-left: 20px;
}
.flexslider .flex-direction-nav li:first-child a {
  background-image: url('../../img/larr.png');
}
.flexslider .flex-direction-nav a {
  display: block;
  width: 55px;
  height: 102px;
  text-indent: -9999px;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.flexslider .flex-direction-nav a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.flexslider .flex-direction-nav a:focus,
.flexslider .flex-direction-nav a:active {
  outline: 0 none;
}
.flexslider .flex-direction-nav .flex-prev {
  left: 0;
}
.flexslider .flex-direction-nav .flex-next {
  right: 0;
}
.flexslider .flex-direction-nav .flex-prev,
.flexslider .flex-direction-nav .flex-next {
  position: static;
}
.flexslider .flex-progress {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 20;
  background-color: rgba(71, 73, 72, 0.2);
}
.flexslider .flex-progress span {
  display: block;
  height: 5px;
  background-color: #2ecc71;
  width: 0%;
}
@media (max-width: 479px) {
  .flex-control-nav {
    display: none;
  }
}
/*--
| CAPTIONS (used with Flex)
---*/
.caption {
  position: absolute;
  top: 50%;
  bottom: auto;
  width: 100%;
  margin-top: -85px;
  padding: 0;
  background-color: transparent;
  overflow: visible;
  font-family: inherit !important;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
@media (min-width: 768px) and (max-width: 979px) {
  .caption {
    margin-top: -75px;
  }
}
@media (max-width: 767px) {
  .caption {
    display: none !important;
    -webkit-opacity: 0 !important;
    -moz-opacity: 0 !important;
    opacity: 0 !important;
  }
}
.caption h3 {
  display: inline-block;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  margin-bottom: 0;
  line-height: 54px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .caption h3 {
    font-size: 24px;
    line-height: 36px;
  }
}
.caption p {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(71, 73, 72, 0.8);
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
  .caption p {
    font-size: 12px;
    line-height: 18px;
  }
}
.caption .btn {
  display: inline-block !important;
  border-bottom: none !important;
}
/*---
| PROMOS
---*/
.promos {
  margin-bottom: 60px;
}
.promos .box {
  color: #939694;
}
.promos .hgroup.title {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.promos p {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 18px;
}
.promos img {
  float: right;
  margin: 0 0 10px 10px;
}
.promos .low-price img {
  margin-top: -25px;
}
/*---
| JCAROUSEL
---*/
.jcarousel-wrapper {
  position: relative;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}
.jcarousel ul {
  width: 20000em;
  position: absolute;
  list-style: none;
  margin-bottom: 0;
}
.jcarousel li {
  margin-bottom: 0;
}
.jcarousel a {
  margin: 0 4px 6px;
  text-decoration: none;
}
.jcarousel-controls {
  */
}
.jcarousel-controls:before {
  content: '';
  display: block;
}
.jcarousel-controls:after {
  content: '';
  display: table;
  clear: both;
}
.jcarousel-controls .carousel-control-prev,
.jcarousel-controls .carousel-control-next {
  display: block;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #474948;
  color: #ffffff;
  float: left;
  margin: 4px 0;
}
.jcarousel-controls .carousel-control-prev:hover,
.jcarousel-controls .carousel-control-next:hover,
.jcarousel-controls .carousel-control-prev:focus,
.jcarousel-controls .carousel-control-next:focus {
  background-color: #2ecc71;
}
.jcarousel-controls .carousel-control-prev {
  margin-right: 1px;
}
/*---
| HOME / FEATURED
---*/
.featured {
  margin-bottom: 80px;
}
/*---
| PRODUCT
---*/
.product-info {
  margin-bottom: 80px;
}
.product-info .product-content .nav-tabs {
  margin: -20px -20px 20px;
}
.product-info .product-content .tab-content {
  overflow: visible;
}
.product-info .product-content #product .details,
.product-info .product-content #product .short-description,
.product-info .product-content #product .options,
.product-info .product-content #product .extras,
.product-info .product-content #product .add-to-cart {
  padding: 20px 0;
}
.product-info .product-content #product .details {
  padding-top: 0;
}
.product-info .product-content #product .add-to-cart {
  padding-bottom: 0;
}
.product-info .product-content #product form > div {
  border-bottom: 1px solid #f0f0f0;
}
.product-info .product-content #product form > div:last-child {
  border-bottom: none;
}
.product-info .product-content #product .details h1 {
  margin: 0 0 10px;
  font-size: 24px;
  line-height: 30px;
}
.product-info .product-content #product .details .prices {
  line-height: 24px;
  margin: 0 0 20px;
}
.product-info .product-content #product .details .prices .price {
  color: #2ecc71;
  font-weight: 600;
  font-size: 20px;
}
.product-info .product-content #product .details .prices .base {
  color: #c7c8c8;
  font-size: 14px;
  font-weight: 400;
}
.product-info .product-content #product .details .meta {
  color: #606362;
  font-size: 12px;
  text-decoration: none;
  */
}
.product-info .product-content #product .details .meta:before {
  content: '';
  display: block;
}
.product-info .product-content #product .details .meta:after {
  content: '';
  display: table;
  clear: both;
}
.product-info .product-content #product .details .meta > div {
  float: left;
  margin-right: 20px;
}
.product-info .product-content #product .details .meta > div i {
  margin-right: 2px;
}
.product-info .product-content #product .details .meta .categories a {
  color: inherit;
  text-decoration: none;
}
.product-info .product-content #product .details .meta .categories a:after {
  content: ", ";
}
.product-info .product-content #product .details .meta .categories a:last-child:after {
  content: "";
}
.product-info .product-content #product .details .meta .categories a:hover {
  color: #2ecc71;
}
.product-info .product-content #product .short-description {
  color: #939694;
  font-size: 14px;
}
.product-info .product-content #product .short-description p {
  margin-bottom: 0;
}
.product-info .product-content #product .extra {
  float: left;
  margin-right: 20px;
}
.product-info .product-content #description {
  font-size: 13px;
}
.product-info .product-content #description > *:last-child {
  margin-bottom: 0;
}
.product-info .product-content #description ul li,
.product-info .product-content #description ol li {
  list-style-position: inside;
}
.product-info .product-images .box {
  margin-bottom: 0;
}
.product-info .product-images .primary {
  margin: -20px -20px 0;
}
.product-info .product-images .thumbs {
  margin: 0 -20px;
  padding: 20px;
  position: relative;
}
.product-info .product-images .thumbs:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  left: 20px;
  top: -8px;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.product-info .product-images .thumbs .thumbs-list {
  margin-left: -3%;
  margin-bottom: -3%;
  */
}
.product-info .product-images .thumbs .thumbs-list:before {
  content: '';
  display: block;
}
.product-info .product-images .thumbs .thumbs-list:after {
  content: '';
  display: table;
  clear: both;
}
.product-info .product-images .thumbs .thumbs-list li {
  width: 17%;
  float: left;
  margin-left: 3%;
  margin-bottom: 3%;
  list-style: none;
}
.product-info .product-images .thumbs .thumbs-list li a {
  display: block;
  border: 4px solid #f0f0f0;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.product-info .product-images .thumbs .thumbs-list li a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474948;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.product-info .product-images .thumbs .thumbs-list li a:hover {
  border-color: #2ecc71;
}
.product-info .product-images .thumbs .thumbs-list li a:hover:before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.product-info .product-images .thumbs .thumbs-list li a.active {
  border-color: #2ecc71;
}
.product-info .product-images .thumbs .thumbs-list li img {
  display: block;
}
.product-info .social {
  margin: 0 -20px -20px;
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}
.product-info .social #sharrre {
  text-align: center;
}
.product-info .social #sharrre > div {
  display: inline-block;
}
.product-reviews {
  padding: 80px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996), 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996), 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996), 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

}
.product-reviews h5 {
  text-align: center;
  margin-bottom: 40px;
}
.product-reviews h5 .script {
  display: inline-block;
  margin: 0 5px;
  color: #2ecc71;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.fb-comments,
.fb-comments > span,
.fb-comments iframe[style] {
  width: 100% !important;
}
.product-related {
  padding-top: 80px;
}
.product-related h5 {
  text-align: center;
  margin-bottom: 40px;
}
.comment-item,
.rating-item {
  border-top: 1px solid #f0f0f0;
  margin-top: 20px;
  padding-top: 20px;
}
.comment-item .gravatar,
.rating-item .gravatar {
  float: left;
  margin-right: 10px;
}
.comment-item h6,
.rating-item h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.comment-item small,
.rating-item small {
  font-size: 12px;
  line-height: 18px;
  color: #868988;
}
.comment-item h5,
.rating-item h5 {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.comment-item p,
.rating-item p {
  font-size: 12px;
  line-height: 18px;
  color: #666968;
  margin-bottom: 0;
}
.comment-item .rating,
.rating-item .rating {
  font-size: 12px;
  color: #868988;
}
.comment-item:first-child,
.rating-item:first-child {
  margin-top: 0;
  border-top: none;
  padding-top: 0;
}
#ratings .well {
  color: #666968;
}
#ratings .well h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
/*---
| NAV-TABS
---*/
.nav-tabs {
  border-bottom: 5px solid #2ecc71;
  margin-bottom: 0;
  background-color: #ffffff;
}
.nav-tabs li {
  margin-bottom: 0;
}
.nav-tabs li > div,
.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li a:active,
.nav-tabs li a:focus {
  text-decoration: none;
  margin-right: 0px;
  padding: 14px 20px 9px;
  border: none;
  font-size: 12px;
  color: #797d7b;
  text-transform: uppercase;
  background-color: #ffffff;
  outline: 0 none;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.nav-tabs li > div [class^="icon-"],
.nav-tabs li a [class^="icon-"],
.nav-tabs li a:hover [class^="icon-"],
.nav-tabs li a:active [class^="icon-"],
.nav-tabs li a:focus [class^="icon-"],
.nav-tabs li > div [class*=" icon-"],
.nav-tabs li a [class*=" icon-"],
.nav-tabs li a:hover [class*=" icon-"],
.nav-tabs li a:active [class*=" icon-"],
.nav-tabs li a:focus [class*=" icon-"] {
  margin: 0 0 6px;
  display: block;
  text-align: center;
}
.nav-tabs li > div span,
.nav-tabs li a span,
.nav-tabs li a:hover span,
.nav-tabs li a:active span,
.nav-tabs li a:focus span {
  display: block;
  text-align: center;
}
.nav-tabs li a:hover {
  color: #2ecc71;
}
.nav-tabs li.active > div,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li.active a:focus {
  border: none;
  background-color: #2ecc71;
  color: #ffffff;
}
.nav-tabs + .box {
  position: relative;
  z-index: 10;
}
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.nav-tabs.nav-stacked > li > a {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fbfbf9;
  padding: 15px 20px;
  text-transform: none;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:active,
.nav-tabs.nav-stacked > li > a:focus {
  border-bottom: 1px solid #2ecc71;
  background-color: #2ecc71;
  color: #ffffff;
}
.nav-tabs.nav-stacked li.active {
  position: relative;
}
.nav-tabs.nav-stacked li.active a {
  border-right: none;
  border-bottom: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #2ecc71;
  font-weight: 700;
}
.nav-tabs.nav-stacked li.active:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 1px;
  right: -1px;
  width: 1px;
  background-color: #ffffff;
}
/*---
| CART
---*/
.cart-items .col_product .image {
  float: left;
  margin-right: 20px;
}
.cart-items .col_product .image a {
  display: block;
  border: 4px solid #f0f0f0;
  position: relative;
}
.cart-items .col_product .image a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474948;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.cart-items .col_product .image a:hover,
.cart-items .col_product .image a:focus {
  border-color: #2ecc71;
}
.cart-items .col_product .image a:hover:before,
.cart-items .col_product .image a:focus:before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.cart-items .col_product h5 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0;
}
.cart-items .col_product h5 a {
  color: inherit;
}
.cart-items .col_product h5 a:hover,
.cart-items .col_product h5 a:focus {
  color: #2ecc71;
}
.cart-items .col_product .options li,
.cart-items .col_product .extras li {
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #797d7b;
}
.cart-items .col_product .options li:before,
.cart-items .col_product .extras li:before {
  content: "\f105";
  color: #2ecc71;
  font-family: FontAwesome;
  margin-right: 5px;
}
.cart-items .col_remove a {
  text-decoration: none;
}
.cart-items .col_qty input[type="text"] {
  width: 20px;
  text-align: right;
}
.cart-items .col_single .single-price,
.cart-items .col_total .single-price,
.cart-items .col_discount .single-price,
.cart-items .col_single .total-price,
.cart-items .col_total .total-price,
.cart-items .col_discount .total-price,
.cart-items .col_single .discount,
.cart-items .col_total .discount,
.cart-items .col_discount .discount {
  font-size: 13px;
  font-weight: 600;
}
@media (max-width: 980px) {
  .styled-table.orders thead,
  .cart-items thead {
    display: none;
  }
  .styled-table.orders tbody,
  .cart-items tbody {
    width: 100%;
  }
  .styled-table.orders tbody tr,
  .cart-items tbody tr {
    overflow: hidden;
    height: auto;
    width: 100%;
    border: 1px solid #e3e3e3;
  }
  .styled-table.orders tbody tr td,
  .cart-items tbody tr td {
    display: block;
    text-align: left;
    padding-left: calc(50% + 10px);
    position: relative;
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
  }
  .styled-table.orders tbody tr td:first-child,
  .cart-items tbody tr td:first-child {
    padding: 10px;
    padding-left: calc(50% + 10px);
  }
  .styled-table.orders tbody tr td.text-right,
  .cart-items tbody tr td.text-right {
    text-align: left;
  }
  .styled-table.orders tbody tr td:before,
  .cart-items tbody tr td:before {
    content: attr(data-title);
    display: block;
    /*float: left;
						width: 50%;*/
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background-color: #f9f9f9;
  }
}
.cart .coupon form {
  margin: 20px 0 0;
}
.cart .coupon .input-append {
  margin-bottom: 0;
  width: 100%;
}
.cart .coupon .input-append input[type="text"],
.cart .coupon .input-append button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cart .coupon .input-append input[type="text"] {
  width: 80%;
  height: 30px;
}
.cart .coupon .input-append button {
  width: 20%;
}
/*---
| CHECKOUT
---*/
.checkout .nav-tabs {
  margin: -20px -20px 20px;
}
.checkout .nav-tabs li {
  width: 20%;
}
@media (max-width: 480px) {
  .checkout .nav-tabs li {
    width: 33.33%;
  }
}
.checkout .nav-tabs li > div {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.checkout .shipping-methods .box-content,
.checkout .payment-methods .box-content {
  */
}
.checkout .shipping-methods .box-content:before,
.checkout .payment-methods .box-content:before {
  content: '';
  display: block;
}
.checkout .shipping-methods .box-content:after,
.checkout .payment-methods .box-content:after {
  content: '';
  display: table;
  clear: both;
}
.checkout .shipping-methods .box-content .price,
.checkout .payment-methods .box-content .price {
  float: left;
}
.checkout .shipping-methods .box-content input,
.checkout .payment-methods .box-content input {
  float: right;
}
/*---
| STATIC PAGE
---*/
.static-page {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);

  padding: 0;
  background-color: #ffffff;
}
.static-page .box-header {
  margin: 0 -20px;
  padding: 0 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.static-page .box-header h3 {
  font-size: 16px;
  line-height: 24px;
  color: #474948;
  font-weight: 700;
  margin: 0;
}
.static-page .box-header h5 {
  font-size: 14px;
  line-height: 21px;
  color: #939694;
  font-weight: 400;
  margin: 0;
}
.static-page .box-image {
  margin: -20px -20px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.static-page .box-image a,
.static-page .box-image img {
  display: block;
}
.static-page .box-body,
.static-page .box-content {
  margin-top: 20px;
}
.static-page .box-body > *:last-child,
.static-page .box-content > *:last-child {
  margin-bottom: 0;
}
.static-page .box-body .price-list,
.static-page .box-content .price-list {
  margin: -20px;
}
.static-page .box-body .price-list li,
.static-page .box-content .price-list li {
  margin: 0;
}
.static-page .box-footer {
  */
  margin: 20px -20px -20px;
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}
.static-page .box-footer:before {
  content: '';
  display: block;
}
.static-page .box-footer:after {
  content: '';
  display: table;
  clear: both;
}
.static-page .box-header + .box-footer {
  border-top: none;
  margin-top: 0;
}
.static-page .box-content.highlight {
  margin: 0 -20px;
  padding: 0 20px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: -20px;
}
.static-page .buttons {
  */
  margin: 20px -20px -20px;
  padding: 20px;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
}
.static-page .buttons:before {
  content: '';
  display: block;
}
.static-page .buttons:after {
  content: '';
  display: table;
  clear: both;
}
.static-page .hgroup.title + .buttons {
  border-top: none;
  margin-top: 0;
}
.static-page > .row-fluid {
  position: relative;
}
@media (max-width: 767px) {
  .static-page > .row-fluid {
    position: static;
  }
}
.static-page > .row-fluid > .span3 {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fbfbf9;
  border-right: 1px solid #e3e3e3;
}
@media (max-width: 767px) {
  .static-page > .row-fluid > .span3 {
    position: static;
    top: auto;
    bottom: auto;
  }
}
.static-page > .row-fluid > .span9 {
  margin-left: 25.641%;
  min-height: 600px;
}
@media (max-width: 767px) {
  .static-page > .row-fluid > .span9 {
    margin-left: 0;
  }
}
.static-page .content {
  padding: 30px 60px 30px 30px;
  min-height: 260px;
}
@media (max-width: 767px) {
  .static-page .content {
    padding: 30px 60px;
  }
}
.static-page .content .row,
.static-page .content .row-fluid {
  margin-bottom: 20px;
}
.static-page .content ul ul,
.static-page .content ol ol,
.static-page .content ul ol,
.static-page .content ol ul {
  padding-left: 40px;
}
/*---
| SEARCH
---*/
.filter .control-group,
.filter input,
.filter select,
.filter textarea {
  margin-bottom: 0;
}
/*---
| WELL
---*/
.well {
  border: 1px solid #e7e7da;
  color: #606362;
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fbfbf9;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  */
}
.well:before {
  content: '';
  display: block;
}
.well:after {
  content: '';
  display: table;
  clear: both;
}
.well *:last-child {
  margin-bottom: 0;
}
.well-large {
  padding: 40px;
}
/*---
| OPTIONS PANEL
---*/
.options-panel {
  position: fixed;
  top: 200px;
  left: -240px;
  z-index: 1000;
  width: 272px;
  */
}
.options-panel:before {
  content: '';
  display: block;
}
.options-panel:after {
  content: '';
  display: table;
  clear: both;
}
.options-panel .options-panel-content {
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
  float: left;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);

}
.options-panel .options-panel-toggle {
  float: left;
  width: 32px;
  height: 32px;
}
.options-panel .options-panel-toggle a {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  background-color: #2ecc71;
  color: #ffffff;
  text-decoration: none;
}
/*---
| HERO UNIT
---*/
.hero-unit {
  border: 1px solid #e3e3e3;
  background-color: #f0f0f0;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
/*---
| GRIDS
---*/
.show-grid [class*="span"] {
  background-color: #f0f0f0;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
/*---
| ORDER HISTORY
---*/
.orders tbody,
.order tbody {
  line-height: 28px;
  font-size: 12px;
}
/*---
| LABEL
---*/
.label {
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 10px;
  line-height: 14px;
  padding: 2px 6px;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.5px;
}
.label-sale {
  background-color: #2ecc71;
}
/*---
| ALERTS
---*/
.alert {
  font-size: 13px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
/*---
| WIDGET
---*/
.widget {
  background-color: #ffffff;
  border-top: 5px solid #2ecc71;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);

}
.widget h3.widget-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px;
  margin: -20px -20px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.widget.Categories ul,
.widget.Menu ul {
  list-style: none;
  margin: 0;
}
.widget.Categories > ul,
.widget.Menu > ul {
  margin: -20px -20px;
}
.widget.Categories a,
.widget.Menu a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
  color: #797d7b;
  text-decoration: none;
  font-size: 12px;
}
.widget.Categories a:hover,
.widget.Menu a:hover,
.widget.Categories a:focus,
.widget.Menu a:focus {
  background-color: #2ecc71;
  color: #ffffff;
}
.widget.Categories a:hover .count,
.widget.Menu a:hover .count,
.widget.Categories a:focus .count,
.widget.Menu a:focus .count {
  background-color: #ffffff;
  color: #2ecc71;
  text-shadow: none;
}
.widget.Categories ul ul a,
.widget.Menu ul ul a {
  padding-left: 40px;
}
/*---
| ADVERTS
---*/
.adverts {
  list-style: none;
  margin: 0;
}
.adverts li + li {
  margin-top: 20px;
}
.adverts a {
  display: block;
  border: 5px solid #f0f0f0;
  position: relative;
  overflow: hidden;
}
.adverts a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 73, 72, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.adverts a:hover {
  border-color: #2ecc71;
}
.adverts a:hover:before {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/*---
| ISOTOPE
---*/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/*---
| BLOG
---*/
.post-list {
  margin-left: -30px;
  */
}
.post-list:before {
  content: '';
  display: block;
}
.post-list:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .post-list {
    margin-left: -20px;
  }
}
@media (max-width: 979px) {
  .post-list {
    margin-left: 0;
  }
}
.post-grid {
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 420px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .post-grid {
    width: 345px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 979px) {
  .post-grid {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    float: none;
  }
}
.post-grid .box {
  margin-bottom: 0;
}
.post-meta {
  list-style: none;
  font-size: 12px;
  color: #a6a9a8;
  margin: 10px 0 0;
  */
}
.post-meta:before {
  content: '';
  display: block;
}
.post-meta:after {
  content: '';
  display: table;
  clear: both;
}
.post-meta li {
  float: left;
  margin-right: 10px;
}
/*---
| STORE LOCATOR
---*/
#td-store-locator-map.active-stores,
#td-store-locator-results.active-stores {
  height: 480px;
}
#td-store-locator-results.active-stores {
  overflow: auto;
  margin-bottom: 0;
}
#td-store-locator-results.active-stores li {
  padding: 20px 20px 20px 0;
  border-top: 1px solid #f0f0f0;
}
#td-store-locator-results.active-stores li:first-child {
  border-top: none;
}
#td-store-locator-results.active-stores h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
#td-store-locator-results.active-stores small {
  display: block;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
  color: #c7c8c8;
  white-space: nowrap;
}
#td-store-locator-results.active-stores p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}
#td-store-locator-results.active-stores p img {
  margin: 0 10px 10px 0;
  float: left;
}
.store_locator .well {
  margin-bottom: 40px;
}
@media (max-width: 979px) {
  .store_locator .well input[type="text"],
  .store_locator .well select,
  .store_locator .well .btn {
    margin-bottom: 10px;
  }
  .store_locator .well .btn.btn-primary {
    margin-bottom: 0;
  }
}
#td-store-locator-map *,
#td-store-locator-map *:after,
#td-store-locator-map *:before {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#td-store-locator-map img {
  max-width: none;
  height: auto;
}
@media (max-width: 767px) {
  #td-store-locator-form .row-fluid [class*="span"] {
    margin-bottom: 10px;
  }
  #td-store-locator-form .row-fluid [class*="span"] .btn-mini {
    margin-bottom: 20px;
  }
}
/*---
| ROW COLLAPSE
---*/
@media (min-width: 980px) {
  .row-collapse [class*="span"] {
    margin: 0;
  }
  .row-collapse .span1 {
    width: 8.33%;
  }
  .row-collapse .span2 {
    width: 16.66%;
  }
  .row-collapse .span3 {
    width: 25%;
  }
  .row-collapse .span4 {
    width: 33.33%;
  }
  .row-collapse .span5 {
    width: 41.66%;
  }
  .row-collapse .span6 {
    width: 50%;
  }
  .row-collapse .span7 {
    width: 58.33%;
  }
  .row-collapse .span8 {
    width: 66.66%;
  }
  .row-collapse .span9 {
    width: 75%;
  }
  .row-collapse .span10 {
    width: 83.33%;
  }
  .row-collapse .span11 {
    width: 91.66%;
  }
  .row-collapse .span12 {
    width: 100%;
  }
}
/*---
| POST MINI
---*/
.list-chevron.links li {
  margin-bottom: 10px;
}
.list-chevron.links small {
  font-style: italic;
  color: #868988;
  font-size: 11px;
  margin-left: 12px;
}
/*---  BLOG VIDEO  ---*/
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video.widescreen {
  padding-bottom: 53.25%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}
